* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: coral;
}



@media only screen and (max-width: 768px) {
    .layout {
        grid-template-columns: 30px repeat(2, 1fr) 30px;
        grid-template-rows: 30px repeat(2, 1fr) 30px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .container {
        gap: 4px;
    }

    .container h3{
        font-size: 28px;
        font-weight: 700;
    }

    .container p {
        font-size: 16px;
    }

    .label {
        font-size: 20px;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
    .layout {
        grid-template-columns: 100px repeat(2, 1fr) 100px;
        grid-template-rows: 100px repeat(2, 1fr) 100px;
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }

    .container {
        gap: 10px;
    }

    .container h3{
        font-size: 42px;
        font-weight: 700;
    }

    .container p {
        font-size: 32px;
    }

    .label {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1025px) {
    .layout {
        grid-template-columns: 200px repeat(2, 1fr) 200px;
        grid-template-rows: 200px repeat(2, 1fr) 200px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .container {
        gap: 16px;
    }

    .container h3{
        font-size: 64px;
        font-weight: 800;
    }

    .container p {
        font-size: 48px;
    }

    .label {
        font-size: 50px;
    }
}


.layout {
    width: 100%;
    height: 100%;
    display: grid;
}

.top-label-1        { grid-area: 1 / 2 / 2 / 3; }
.top-label-2        { grid-area: 1 / 3 / 2 / 4; }
.left-label-1       { grid-area: 2 / 1 / 3 / 2; }
.left-label-2       { grid-area: 3 / 1 / 4 / 2; }

.label {
    color: black;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.label-y {
    flex-direction: column;
    transform: rotate(270deg);
    transform-origin: center center;
}


.do-container       { grid-area: 2 / 2 / 3 / 3; }
.decide-container   { grid-area: 2 / 3 / 3 / 4; }
.delegate-container { grid-area: 3 / 2 / 4 / 3; }
.delete-container   { grid-area: 3 / 3 / 4 / 4; }

.white-container {
    background: aliceblue;
    color: #1e1e1e;
}
.black-container {
    background: #525252;
    color: #cccccc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out transform,
                0.5s ease-in-out color,
                0.1s ease-in-out box-shadow;
}

.container h3{
    font-size: 64px;
    font-weight: 800;
}

.container p {
    font-size: 48px;
    text-align: center;
}

.container:hover {
    transform: scale(1.05);
    color: coral;
    box-shadow: -3px 2px 10px #00000080;
}